body {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/chat.jpg');
    background-size: cover;
    background-position: center;
}
.chat-window {
    width: 50%;
    margin: auto;
    position: relative;
    background: rgba(66, 135, 213, 0.8);
}

.message-panel {
    font-family: sans-serif;
    height: 70%;
    width 80%;
    border-style: ridge;
}

.message-panel h2 {
    margin: 2%;
    text-align: center;
    border-bottom-style: solid;
}

.message-panel h3 {
    margin-left: 2%;
    font-size: 16px;
}

.message-panel p {
    margin-left: 2%;
}

.compose-window {
    border-style: ridge;
}

.compose-window button {
    padding: 5px;
}

.compose-window input {
    font-family: sans-serif;
    width: 78%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.chat-window button {
    background-color: #138496 ;
	border-color: #138496 ;
	width: 20%;
    position: relative;
    left: 0;
    margin-top: 0;
    color: #FFF;
}

button {
    background-color: #138496 ;
	border-color: #138496 ;
	width: 10%;
    position: relative;
    left: 40%;
    color: #FFF;
    margin-top: 1%;
    padding: 0.25%;
}